div.menu
  a(href="/main/shopListWait/1")
    label 심사 대기 리스트
div.menu
  a(href="/main/shopListAll/1") 
    label 타임샵 전체 리스트
div.menu
  a(href="/main/userList/1") 
    label 회원 리스트
div.menu
  a(href="#")
    label 정산
